@media only screen and (min-width: 1000px ) and (max-width:1500px) {
.headerData{
    margin-left: 60rem;
}
}
@media only screen and (min-width: 575px ) and (max-width:590px) {
    .hamburger{
position: absolute;
left: 25rem;

    }
    }

    @media only screen and (min-width: 800px ) and (max-width:850px) {
        .hamburger{
    position: absolute;
    left: 25rem;
    
        }
        }
        @media only screen and (min-width: 850px ) and (max-width:900px) {
            .hamburger{
        position: absolute;
        left: 25rem;
        
            }
            }
    @media only screen and (min-width: 900px ) and (max-width:950px) {
        .hamburger{
    position: absolute;
    left: 25rem;
    
        }
        }
        @media only screen and (min-width: 950px ) and (max-width:1000px) {
            .hamburger{
        position: absolute;
        left: 30rem;
        
            }
            }
            @media only screen and (min-width: 1000px ) and (max-width:1020px) {
                .hamburger{
            position: absolute;
            left: 30rem;
            
                }
                }
                @media only screen and (min-width: 400px )and (max-width:450px) {
                    .hamburger{
                        position: absolute;
                        left: 14rem;
                        
                            }
                }
                @media only screen and  (max-width:400px) {
                    .hamburger{
                        position: absolute;
                        left: 12.5rem;
                        
                            }
                }
                @media only screen and (min-width: 600px )and  (max-width:645px) {
                    .hamburger{
                        position: absolute;
                        left: 25rem;
                        
                            }
                }